@using PersonalBlog.Extensions
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="~/mPanel/css/mPanel.css">
</head>
<body id="admin">

    @if (User.Identity.IsAuthenticated)
    {
        <div class="panel-wrapper">
          <nav class="sidebar">
            <div class="nav-header">
              <div class="d-flex p-2 j-end">
                <div class="sidebar-toggler">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <h4>YÖNETİCİ PANELİ</h4>
              <p class="user">Admin</p>
            </div>
            <div class="nav-body">
              <div class="list-header">MENU</div>
              <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a asp-controller="Blog" asp-action="BlogList">İçerikler</a></li>
                <li><a asp-controller="Category" asp-action="CategoryList">Kategoriler</a></li>
              </ul>
              <div class="list-header">GENEL</div>
              <ul>
                <li><a asp-controller="Account" asp-action="Logout">Çıkış Yap</a></li>
              </ul>
            </div>
          </nav>
            <main>
                @RenderBody()
            </main>
        </div>
    }else{
          @RenderBody()
    }

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/mPanel/js/mPanel.main.js"></script>
    <script src="~/mModal/js/mModal.js"></script>
    <script src="~/mFeedback/js/mFeedback.js"></script>

    @if (TempData["message"] != null)
    {
        var message = TempData.Get<ResultMessageViewModel>("message");
        <script>
            mFeedback.notify.success("@message.Message");
        </script>
    }
    @RenderSection("Scripts", false)
</body>
</html>
